@charset 'utf-8';
@import url(base.css);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);

/*icon 공통*/

.icon {
	position: absolute;
	color: #555;
}


/*웨딩패키지 제목 디자인 */

.disc {
	width: 100%;
	height: 140px;
}

.disc h1 {
	position: absolute;
	left: 130px;
	top: 60px;
	color: #fff;
	font-family: 'Cinzel Decorative';
	z-index: 1
}

.disc p {}

.disc p:nth-of-type(1) {
	position: absolute;
	width: 100%;
	height: 90px;
	left: 0;
	top: 50px;
	background: #222;
}

.disc p:nth-of-type(2) {
	position: absolute;
	width: 80%;
	height: 120px;
	left: 100px;
	top: 20px;
	background: url(../img/pack_disc.jpg) no-repeat left center;
	background-size: cover
}


/*스튜디오 드레스 메이크업 탭메뉴*/

#tabMenu {}

#tabMenu header {
	position: relative;
	line-height: 45px;
	background: #222;
	color: #ccc;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400
}

#tabMenu header .inner {
	width: 80%;
	margin: auto
}

#tabMenu #tablist {
	float: left;
	width: 100%
}

#tabMenu #tablist li {
	float: left;
	width: 33.3333%;
	background: #333;
	border-radius: 10px 10px 0 0
}

#tabMenu #tablist li a {
	display: block;
	transition: all 0.2s;
	text-align: center;
	position: relative;
	letter-spacing: 30px
}

#tabMenu #tablist li a:hover,
#tabMenu #tablist li a:focus,
#tabMenu #tablist li a.on {
	background: #fff;
	color: #222;
	border-radius: 10px 10px 0 0;
	font-weight: bolder;
	letter-spacing: 10px;
	font-size: 18px;
	color: #427161
}


/*article별 내용=#studio #dress #makeup*/

#tabMenu main {
	position: relative;
	width: 100%;
	height: 1250px;
	min-width: 960px;
	background: #fff;
	overflow: hidden;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: normal
}

#tabMenu main article {
	width: 80%;
	height: 100%;
	margin: auto
}
#tabMenu main article .slide {
	width: 100%;
	height: 300px;
	font-size: 1.1em
}

#tabMenu main article .slide p {
	text-align: center;
	line-height: 30px;
	background: url(../img/flower.png) no-repeat center 25%;
	background-size: 20%;
	width: 100%;
	padding-top: 150px;
	transition: all 0.5s;
	letter-spacing: 1px
}

#tabMenu main article .slide p strong {
	display: block;
	opacity: 0;
	letter-spacing: 20px;
	transition: all 0.5s;
	color: #335c4e
}

#tabMenu:hover main article .slide p strong {
	opacity: 1;
	letter-spacing: 4.5px
}

#tabMenu main article .slide p em {
	font-size: 28px;
	color: #555;
	font-weight: 500;
	line-height: 50px
}

#tabMenu main article .box {
	position: relative;
	float: left;
	width: 30%;
	height: 350px;
	margin: 2.6666% 1.6666%;
	overflow: hidden;
	opacity: 0.8
}

#tabMenu main article .box .smalltitle {
	position: absolute;
	left: 0;
	bottom:-50px;
	width: 100%;
	height: 50px;
	text-align: center;
	letter-spacing: 10px;
	background: #214049;
	color: #eee;
	transition: all 0.5s;
	z-index: 1
}

#tabMenu main article .box .smalltitle p {}

#tabMenu main article .box .smalltitle p a {
	display: block;
	line-height: 50px;
	font-size: 16px
}
#tabMenu main article .box:hover {
	opacity: 1
} 
#tabMenu main article .box:hover .smalltitle{
	bottom:0;
}
/*이미지부분*/

.box .slides {
 position: absolute;
 width: 100%;
 height: 100%
}

.slides .pic {
 position: absolute;
 width: 100%;
 height: 100%;
 overflow: hidden;
	left:0;
	top:0;
/*left: jQuery로 만들어야 함*/
}

.slides .pic img {
 position: absolute;
width:100%
}


/*이전,다음 버튼*/

.box .nav {}

.nav a {
 position: absolute;
 width: 30px;
 height: 30px;
 top: 46%;
 left: 50%;
 overflow: hidden;
	opacity: 0.5;
	transition: all 0.5s;
	background: #214940
}

.nav a.prev {
	content: url(../img/main_next_left.png);
	margin-left:-180px;
}

.nav a.next {
	 content: url(../img/main_next_right.png);
	margin-left:150px;
}

.box a.prev:before {}

.box a.next:before {
}

.box a:hover {
	opacity: 1
}

.nav a.on {
 display: none
}

